.DS_Store
Thumbs.db
*.log

**/.env
**/.env.*
!**/.env.example

**/node_modules/
**/vendor/
**/dist/
**/dist-ssr/
**/coverage/
**/.vite/
**/*.tsbuildinfo

BE/public/build/
BE/public/hot
BE/public/storage
BE/bootstrap/cache/*.php
BE/storage/logs/*
BE/storage/framework/cache/*
BE/storage/framework/sessions/*
BE/storage/framework/views/*

!BE/bootstrap/cache/.gitignore
!BE/storage/logs/.gitignore
!BE/storage/framework/cache/.gitignore
!BE/storage/framework/cache/data/.gitignore
!BE/storage/framework/sessions/.gitignore
!BE/storage/framework/views/.gitignore
